/.git/
/.vscode/
/docs/
/node_modules/
/.gitignore
/.npmignore
/tslint.json
/tsconfig.json
/tsconfig.production.json
/examples/
/src/examples/
/test/
/*.sh
/commitlint.config.js
/.eslintrc
/.eslintignore
